:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(134, 165, 214, 0.5);
  background-color: #9c9d9e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #679ddf;
  text-decoration: inherit;
}
a:hover {
  color: #84b7e3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("newWallpaper.jpeg");
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(189, 174, 154, 0.2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d6bb9a;
  background-color: #c9af8b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #c9965c;
    background-color: #ffffff;
  }
  a:hover {
    color: #dfcab4;
  }
  button {
    color: rgb(13, 13, 14);
  }
}

table {
  font-weight: bold;
}

table th,
table td {
  font-weight: bold;
}